<script type="text/javascript" src="lib/daterangepicker-master/jquery.min.js"></script>
<script type="text/javascript" src="lib/daterangepicker-master/moment.min.js"></script>
<script type="text/javascript" src="lib/daterangepicker-master/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="lib/daterangepicker-master/daterangepicker.css" />

<input type="text" name="datetimes" class="form-control pull-right">

<script>
$(function() {
  $('input[name="datetimes"]').daterangepicker({
    timePicker: true,
    startDate: moment().startOf('hour'),
    endDate: moment().startOf('hour').add(32, 'hour'),
    locale: {
      format: 'M/DD hh:mm A'
    }
  });
});
</script>