{% extends 'base.html' %}

{% load static %}

{% block content %}

<h1>Cargar impresora nueva</h1>

<div class="card" style="width: 18rem;">
    <img src="{% static 'images/impresora.jpg' %}"
        class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Agregar impresora</h5>
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label">Marca</label>
                {{ form.marca }}
                <label class="form-label">Modelo</label>
                {{ form.modelo }}
                <label class="form-label">Toner</label>
                {{ form.toner }}
                <label class="form-label">Area</label>
                {{ form.area }}
            </div>
            <button class="btn btn-primary">Guardar</button>
        </form>
    </div>
</div>

{% endblock %}