{% extends 'base.html' %}

{% block content %}

<h1>Cargar toner nuevo</h1>

<div class="card" style="width: 18rem;">
  <img src="https://www.shutterstock.com/image-illustration/stack-laser-printer-cmyk-toners-600w-1484779127.jpg"
    class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Agregar toner</h5>
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label class="form-label">Nombre</label>
        {{ form.nombre }}
        <label class="form-label">Stock</label>
        {{ form.stock }}
      </div>
      <button class="btn btn-primary">Guardar</button>
    </form>
  </div>
</div>

{% endblock %}