{% extends 'base.html' %}

{% block content %}

<h1>Areas</h1>
<button type="button" class="float-end btn btn-primary" onclick="location.href='/new_area'"><i class="bi-file-earmark-plus"></i> Agregar</button>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalArea">Add modal</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="col-1">ID</th>
            <th scope="col" class="col-4">Area</th>
            <th scope="col" class="col-5">Responsable</th>
            <th scope="col" class="col-2">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for areas in areas %}
        <tr>
            <td>{{areas.id}}</td>
            <td>{{areas.nombre}}</td>
            <td>{{areas.responsable}}</td>
            <td>
                <a href="{% url 'edit_area' areas.id %}" class="btn btn-primary" role="button" aria-pressed="true"><i class="bi-pencil"></i></a>
                <button type="button" class="btn btn-danger"><i class="bi-trash"></i></button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- Modal agregar area -->
<div class="modal fade" id="modalArea" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar area</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="POST">
                {% csrf_token %}
                {{form}}
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary">Agregar</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}